{% load staticfiles %}
<!DOCTYPE html>
<!--Name: James Strater Smith
Class: James Strater Smith
Created: 7/11/16
Description: Keynote page-->
<html lang="en">
<head>
    <meta name="keywords" content="keynote, speaker" />
    <meta name="description" content="This is a descriptin of keynote speakers" />
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="James Strater-Smith"/>
    <meta charset="UTF-8">
    <title>Keynote</title>
    <link href="{%  static "styles/webdefault.css" %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    {%  include "nav.html" %}
</header>
<main>
    <h1 class="centertext">
        Keynote Speakers
    </h1>
    <div class=horizontalsection">
        <div class="column">
            <h2>
                Dave Chappelle
            </h2>
            <figure>
                <img src="{%  static "images/chappelle.jpg" %}" alt="Dave Chappelle" width="304" height="228">
            </figure>
            <div>
                <p>
                    Dave Chappelle, renowned comedy writer and performer, takes the stage in this very
                    special keynote address.
                </p>
            </div>
        </div>
        <div class="column">
            <h2>
                Charlie Murphy
            </h2>
            <figure>
                <img src="{%  static "images/charliemurphy.jpeg" %}" alt="Charlie Murphy" width="304" height="228">
            </figure>
            <div>
                <p>
                    Charlie Murphy, brother of actor Eddie Murphy, takes the stage to tell jokes and
                    some of his famous Hollywood stories.
                </p>
            </div>
        </div>
    </div>
</main>
<div class="footer">
    <address><small> 2600 9th Street, Boulder, CO, 80304 <br/>
        (303)-513-0214 <br/>
        jmsaviv@gmail.com </small></address>
</div>
</body>
</html>

